[Unit]
Description=ttyd web terminal

[Service]
ExecStart=/home/linuxbrew/.linuxbrew/bin/ttyd -W -t enableTrzsz=true -t disableLeaveAlert=true -i 100.123.123.7 /home/linuxbrew/.linuxbrew/bin/zsh
Restart=always
RestartSec=20
# Don't restart too aggressively
StartLimitInterval=60
StartLimitBurst=3

[Install]
WantedBy=default.target
