-- chezmoi:template:left-delimiter=<< right-delimiter=>>
[edit]
    apply = true
[diff]
    command = "nvim"
    args = ["-d", "{{ .Target }}", "{{ .Destination }}"]
<<- if eq .chezmoi.os "windows" >>
[cd]
    command = "pwsh"
    args = ["-NoLogo"]
[interpreters.ps1]
    command = "pwsh"
    args = ["-NoLogo", "-NoProfile"]
<<- end >>