# vim: ft=toml
# chezmoi:template:left-delimiter=#{ right-delimiter=}#
[edit]
    apply = false
[diff]
    command = "nvim"
    args = ["-d", "{{ .Target }}", "{{ .Destination }}"]
#{- if eq .chezmoi.os "windows" }#
[cd]
    command = "pwsh"
    args = ["-NoLogo"]
[interpreters.ps1]
    command = "pwsh"
    args = ["-NoLogo", "-NoProfile"]
#{- end }#

#{- if or (and (eq .chezmoi.os "darwin") (eq .chezmoi.username "cxcx")) (eq (dig "id" "none" .chezmoi.osRelease) "rhel") }#

[data]
    claudeCodeWrapper = "#{ promptStringOnce . "claudeCodeWrapper" "Claude Code wrapper path" }#"
#{- end }#
