[core]
	autocrlf = false
[user]
	name = l1ttleflyyy
	email = l1ttleflyyy@users.noreply.github.com
[credential "https://github.com"]
	helper = 
	helper = \\!gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = \\!gh auth git-credential
