[user]
	name = l1ttleflyyy
	email = l1ttleflyyy@users.noreply.github.com
[diff]
	tool = nvimdiff
[difftool]
	prompt = false
[merge]
	tool = nvimdiff
[mergetool]
	prompt = false
	keepBackup = false
[alias]
	d = difftool
	stat = status
[pull]
	rebase = false

{{- if eq .chezmoi.os "linux" }}
[credential "https://github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
{{- end }}
