[user]
	name = l1ttleflyyy
	email = l1ttleflyyy@users.noreply.github.com
[core]
	editor = nvim
{{- if eq .chezmoi.os "windows" }}
	autocrlf = input
{{- else }}
	autocrlf = false
{{- end }}
[init]
	defaultBranch = main
[push]
	default = simple
[pull]
	rebase = true
[fetch]
	prune = true
[diff]
	tool = nvimdiff
[difftool]
	prompt = false
[merge]
	tool = nvimdiff
[mergetool]
	prompt = false
	keepBackup = false
[alias]
	d = difftool
	stsh = stash
	stat = status
{{- if eq .chezmoi.os "linux" }}
[credential "https://github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
{{- end }}
{{- if (and (eq .chezmoi.username "l1ttleflyyy") (eq .chezmoi.os "darwin")) }}
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
{{- end }}
