.git/

.cache/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.DS_Store
.vstags
*.swp
*~

__pycache__/
*.py[cod]
*$py.class

*.o
*.so
*.class

**/.claude/settings.local.json

{{- if .isWork }}
####### personal
vnc_logs/
amx/
imp/
build/
build.*/
sim/
sim.*/
vclint/
kdb.elab++/
xcelium.d/
prefDiagGen/
diags/
check_lp/
scream/
sms/
swifter2/
specs/
upf/
syn/
power_estimation/
{{- end }}
